.benefit {
  // padding-bottom: 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    // width: calc((100% - 90px) / 4);
    width: 100%;
  }
  &__iconContainer {
    width: 100%;
    height: 120px;
    background-color: $light-grey-color;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
  &__alt {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $slave-text-color;
  }
}
